header {
    background: #ffffff;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.06);
    nav {
        padding: 21px 64px 22px;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: "Gothampro";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 17px;
            color: #252a34;
        }
    }
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 216px;
    .separator {
        width: 1px;
        height: 19px;
        background: #525252;
    }
    &--text {
        font-family: "Gothampro";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        /* or 14px */
        color: #525252;
    }
}
