@import "./variables.scss";
@import "./appFilter.scss";
@import "./Header.scss";
@import "./Footer.scss";
@import "./inputFilter.scss";
@import "./pages/index.scss";
@import "./admin/index.scss";
@import "./components/BtnComponent.scss";
@import "./pages/credit-card.scss";
@import "./cardProduct.scss";
@font-face {
    font-family: "Gothampro";
    src: url("/fonts/gothampro_light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gothampro";
    src: url("/fonts/Gothampro.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gothampro Bold";
    src: url("/fonts/gothampro_bold.otf");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "Gothampro";
    src: url("/fonts/gothampro_italic.otf");
    font-weight: 400;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav {
    ul {
        li {
            list-style: none;
        }
    }
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex-grow: 1;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.tab {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 21px;
    grid-row-gap: 0px;
    width: 100%;
    margin-bottom: 30px;
    &-item {
        padding: 20px 10px;
        background: #e8ecff;
        border-radius: 15px;
        font-family: $fonts-default;
        font-size: 22px;
        line-height: 21px;
        text-align: center;
        color: #476bf0;
        cursor: pointer;
    }
    &-active {
        background: #476bf0;
        color: #fff;
    }
}
